:root {
  --aic-green: #8dbe40;
  --aic-second-green: #5c7d2b;
}

html,
body {
  background: white;
  padding: 0;
  margin: 0;
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-weight: 300;
  src: url(./fonts/OpenSans-Light.woff) format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-weight: 400;
  src: url(./fonts/OpenSans-Regular.woff) format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-weight: 700;
  src: url(./fonts/OpenSans-Bold.woff) format("woff");
}

* {
  box-sizing: border-box;
  font-family: "Open Sans";
}

input,
textarea {
  height: 48px;
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 17px;
  padding: 0 10px;
  outline: 0;
  resize: none;
  color: #555;
}

select {
  height: 50px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  background: white;
  font-size: 17px;
  outline: none;
  font-weight: 200;
  padding: 0px 8px;
}

textarea {
  height: 152px;
}

figure.alignright {
  float: right;
  margin-left: 20px;
}

figure.alignleft {
  float: left;
  margin-right: 20px;
}
